.row
  .col-md-2
    .row
      %a.add_new_link.menu-link
        %span.glyphicon.glyphicon-th-large
        Add new link
    .row  
      %a.add_new_category.menu-link
        %span.glyphicon.glyphicon-th-large
        Add category
    .row
      = link_to categories_path, {:class=>'categories menu-link'} do
        %span.glyphicon.glyphicon-th-large
        Categories

  .col-md-10
    %ol.breadcrumb
      %li
        %a{:href=>'#'} Cubby
      %li
        Newest links

    = render :partial => 'layouts/add_new_link'   
    = render :partial => 'layouts/add_new_category'   
    - if @links.empty? == false

      %table.table.table-hover
        %thead
          %tr
            %th.table-header Name
            %th.table-header Date

        %tbody
          - @links.each do |link|
            %tr
              %td
                %span.glyphicon.glyphicon-link{:style=>'float:left; padding: 2px 5px 0 0'}
                = link_to link.title, link, {'data-toggle'=>'tooltip', 'data-placement'=>'right', 'title'=>link.description, 'class' => 'record_list_link'}
              %td
                %span.list-link-descliption
                  = link.created_at.strftime("%d %b. %Y")
      = will_paginate(@links)
