= link_to 'Add new category', new_category_path, role: 'button', style: 'float: right;', class: 'btn btn-primary'
  
%h1 Categories
.categories
  - if @categories.empty? == false
    - @categories.each do |category|
      .post
        .post-margin
          %h4.post-title
            = link_to category.name, category
          %ul.post-status
            %li
              %i.fa.fa-clock-o>
              Amount of links:
              = category.links.count
          .clear
        %ul.post-social
          %li
            = link_to edit_category_path(category), {:class => 'edit', :target => '_blank'} do
              Edit
              %i.fa.fa-edit
          %li
            = link_to category, {:class => 'readmore'} do
              Open
              %i.fa.fa-arrow-circle-o-right
        .clear
    = will_paginate @categories

  - else
    %div.alert.alert-warning 
      Not found
