= link_to 'Edit categories', '#', style: 'float:right; margin-left: 0.5em', class: 'btn btn-warning', id: 'edit-categories'

= link_to 'Add new category', new_category_path, role: 'button', style: 'float: right;', class: 'btn btn-primary'
  
%h1 Categories
.categories
  - if @categories.empty? == false
    - @categories.each do |category|
      .post
        .post-margin
          %h4.post-title
            = link_to category.name, category
          %ul.post-status
            %li
              %i.fa.fa-clock-o>
              Amount of links:
              = category.links.count
          .clear
        %ul.post-social
          %li
            = link_to category, {:class => 'readmore'} do
              Open
              %i.fa.fa-arrow-circle-o-right
        .clear
    = will_paginate @categories

  - else
    %div.alert.alert-warning 
      Not found

.categories-edit
  .post
    .post-margin
      .panel.panel-default

        .panel-heading 
          Edit categories
        .panel-body

        - if @categories.empty? == false
          %ul.list-group
          - @categories.each do |category|
            %li.list-group-item
              .row
                .col-md-8
                  = category.name
                .col-md-2
                  = link_to 'Edit', edit_category_path(category), class: 'btn btn-info'
                .col-md-2
                  = link_to 'Remove', category, method: 'delete', class: 'btn btn-danger', :confirm => "Are you sure"
