.panel.panel-success.add_link_box
  .panel-heading 
    Add new link
    %a.box_close{:style => 'float:right', :href => '#'}
      %span.glyphicon.glyphicon-remove
      
  .panel-bode{:style => 'padding: 10px'}
    
    = form_for(@new_link) do |f|
      .form-group
        -# %input.form-control{:type => 'text', :placeholder => 'URL', :id => 'new_link_url'}
        = f.text_field :url, :placeholder => 'URL', :class => 'form-control', :id => 'new_link_url'
      .form-group
        -# %input.form-control{:type => 'text', :placeholder => 'Title', :id => 'new_link_title'}
        = f.text_field :title, :placeholder => 'Title', :class => 'form-control', :id => 'new_link_title'
      .form-group
        -# %textarea.form-control{:placeholder => 'Description', :id => 'new_link_description'}
        = f.text_area :description, :placehoder => 'Description', :id => 'new_link_description', :class => 'form-control', :rows => 5, :value=>"Description"
      .form-group
        - if defined?(@user_categories)
          = collection_select(:cat, :category_id, @user_categories.all, :id, :name, {:selected => params[:id]}, {:class => 'form-control'})

      .form-group
        = f.submit "Add link", :class => 'btn btn-success btn_add_link'

