!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Cubby - Your links in one place
    / Bootstrap core CSS
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'application'
  %body
    .container
      .row
        %nav.navbar{:role => 'navigation'}
          .container-fluid
            .navbar-header
              %a.navbar-brand{:href => root_path}
                %span.glyphicon.glyphicon-paperclip
                Cubby

            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                
                - if user_signed_in?
                  %li.dropdown
                    %a.dropdown-toggle.dropdown-toggle-link{:href => '#', 'data-toggle'=> 'dropdown'}
                      %span.glyphicon.glyphicon-user{:style => 'color: #428bca'}
                      Radek Karkut
                      %b.caret

                    %ul.dropdown-menu
                      %li
                        %a{:href => '#'} 
                          %span.glyphicon.glyphicon-cog
                          Settings
                        %a{:href => destroy_session_path(current_user)}
                          %span.glyphicon.glyphicon-off
                          Logout

      = render :partial => 'layouts/alerts'
      = yield   